// compile this


@font-face {
    font-family: 'Cinzel';
    src: url('assets/fonts/Cinzel-Regular.woff2') format('woff2'),
        url('assets/fonts/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('assets/fonts/GTAmerica-Regular.woff2') format('woff2'),
        url('assets/fonts/GTAmerica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('assets/fonts/GTAmerica-Bold.woff2') format('woff2'),
        url('assets/fonts/GTAmerica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.gt-america {
	font-family: 'GT America', 'Helvetica', 'Arial', sans-serif;
}
.cinzel {
	font-family: 'Cinzel', serif;
}


:root {
	--horsepurple: #a200ff;
	--horseorange: #f8a02a;
	// --horseorange: #ff6f00;
	--horsered: #ff0000;

	overflow: hidden;
  width: 100%;
}


body {
	background-color: #F9F9F9;
	margin: 0;
	font-family: 'GT America', 'Helvetica', 'Arial', sans-serif;

	@media (max-width: 767px) {
		height: 100%;
  	position: fixed;
		overflow: scroll;
	}

	--fg: black;

	&.fg-orange {
		--fg: var(--horseorange);
		*::-moz-selection {
			background: var(--horsepurple);
		}
		*::selection {
			background: var(--horsepurple);
		}

		a {
			color: black;
			&:hover {
				color: var(--horseorange);
			}
		}

	}
	&.fg-purple {
		--fg: var(--horsepurple);
		*::-moz-selection {
			background: var(--horsered);
		}
		*::selection {
			background: var(--horsered);
		}

		a {
			color: black;
			&:hover {
				color: var(--horsepurple);
			}
		}

	}
	&.fg-red {
		--fg: var(--horsered);
		*::-moz-selection {
			color: white;
			background: var(--horsepurple);
		}
		*::selection {
			color: white;
			background: var(--horsepurple);
		}

		a {
			color: black;
			&:hover {
				color: var(--horsered);
			}
		}

	}
}

section {
	padding: 30px;

	@media (max-width: 767px) {
		padding: 15px;
	}
}


p {
	margin-top: 0;
	margin-bottom: 1.5em;
}

p, h2 {
	-webkit-filter: drop-shadow(0 0 0.05rem rgba(0,0,0,25%));
	filter: drop-shadow(0 0 0.05rem rgba(0,0,0,25%));
}

h2 {
	font-size: 25px;
	text-transform: uppercase;
	@media (max-width: 767px) {
		font-size: 22px;
	}
}


/* OVERLAY */

.overlay {
	position: fixed;
	width: 100vw;
	height: 100%;
	z-index: 100;
	overflow: hidden;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	will-change: transform;


	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	h1 {
		font-size: 12.9vw;
		font-weight: 100;
		text-align: center;
		width:100%;
		color: var(--fg);
		margin: 0;
		position: fixed;
		bottom: 1%;
		left: 50%;
		-webkit-transform: translate3d(-50%,0%,0);
		-moz-transform: translate3d(-50%,0%,0);
		transform: translate3d(-50%,0%,0);
		-webkit-filter: drop-shadow(0 0 0.25rem var(--fg));
		filter: drop-shadow(0 0 0.25rem var(--fg));

		@media (max-width: 767px) {
			font-size: 24vw;
			line-height: 0.9;
		}

	}

	svg {
		width: 100vw;
		-webkit-filter: drop-shadow(0 0 0.25rem var(--fg));
		filter: drop-shadow(0 0 0.25rem var(--fg));
		position: absolute;
		top: 25%;
		left: 50%;
		-webkit-transform: translate3d(-50%,-50%,0);
		-moz-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0);
		will-change: opacity;

		@media (max-width: 767px) {
			width: unset;
			height: 120vh;
			top: 40%;
		}
	}
	.cls-1, .cls-2 {
		fill: var(--fg);
		stroke: var(--fg);
	}

}

.info {
	font-size: 3.3rem;
	@media (max-width: 767px) {
		font-size: 2rem;
	}
	.trojan {
		font-weight: bold;
	}
	.horsefolio {

		.horse_img {
			width: 100px;
			display: block;
			margin: 0 auto;
		}
	}
}


.contact_clients {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: row-reverse;
	-moz-box-orient: horizontal;
	-moz-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;

	margin-top: 20px;

	@media (max-width: 767px) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	font-size: 1.3rem;

	@media (max-width: 767px) {
		font-size: 1.3rem;
	}

	p, span {
		-webkit-filter: drop-shadow(0 0 0.03rem rgba(0,0,0,25%));
		filter: drop-shadow(0 0 0.03rem rgba(0,0,0,25%));
	}

	.clients {
		width: 100%;
		// max-width: 1300px;
		p {
			margin-bottom: 0.5em;
		}

		.list {
			padding: 0;
			-webkit-columns: 300px 3;
			-moz-columns: 300px 3;
			columns: 300px 3;
			-webkit-column-gap: 5px;
			-moz-column-gap: 5px;
			column-gap: 5px;
			word-wrap: break-word;

			.country {
				text-transform: uppercase;
				vertical-align: super;
				font-size: 0.8em;
				margin-right: 7px;
			}
		}
		li {
			display: inline-block;
			margin-right: 5px;
			p {
				display: inline-block;
			}

		}
		.portfolio {
			margin-top: 15px;
		}
	}


	.contact {
		width: 20%;
		min-width: 380px;
		@media (max-width: 767px) {
			width: 100%;
			min-width: unset;
		}

		a {
			-webkit-filter: drop-shadow(0 0 0.03rem rgba(0,0,0,25%));
			filter: drop-shadow(0 0 0.03rem rgba(0,0,0,25%));
			margin-bottom: 5px;
    	display: inline-block;
		}

		p {
			padding-top: 4px;
			line-height: 1.3;
			margin-bottom: 5px;
		}
	}
}



/* FOOTER */

footer {
	position: relative;
	padding: 50px 0 40px;
	margin-top: 7vw;

	@media (max-width: 767px) {
		margin-top: 0;
		padding: 50px 0 34vh;
	}

	&::before {
		content: '';
		position: absolute;
		left: 30px;
    bottom: 0;
    height: 90%;
    width: 50px;
		background-image: url('assets/images/watermark.png');
		background-repeat: no-repeat;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
		background-position: center;
		opacity: 0.2;

		@media (max-width: 767px) {
			right: 20px;
	    top: 0;
	    height: 37%;
	    width: 40px;
		}
	}
	&::after {
		content: '';
		position: absolute;
		right: 30px;
    bottom: 0;
    height: 90%;
    width: 50px;
		background-image: url('assets/images/watermark.png');
		background-repeat: no-repeat;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
		background-position: center;
		opacity: 0.2;

		@media (max-width: 767px) {
			right: 20px;
	    top: 0;
	    height: 37%;
	    width: 40px;
		}
	}

	.copyright {
		span {
			display: block;
			margin: 0 auto;

			text-align: center;
			font-size: 16px;

			-webkit-filter: drop-shadow(0 0 0.03rem rgba(0,0,0,25%));
			filter: drop-shadow(0 0 0.03rem rgba(0,0,0,25%));
		}
	}
}
