@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Regular.woff2') format('woff2'),
        url('Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('GTAmerica-Regular.woff2') format('woff2'),
        url('GTAmerica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('GTAmerica-Bold.woff2') format('woff2'),
        url('GTAmerica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

